<div class="row center">
    <% comments.forEach((comment) => { %>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text"><%= comment.comment %></p>
        <a href="#" class="btn btn-primary">Update</a>
        <a href="#" class="btn btn-primary">Delete</a>
      </div>
    </div>
    <% }) %>
  </div>