.navbar-nav {
  flex-direction: row !important;
}

.homepage {
  background-color: #000000;
}

.home-title {
  color: #ffffff;
  font-size: 5rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 1);
}

.home-subtitle {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 1);
}

.card-poster {
  min-height: 417px !important;
}

.movie-card {
  background-color: #000000;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5) !important;
  color: #ffffff;
  text-decoration: none;
}

.movie-card:hover {
  color: #ffffff;
}

.background {
  background-image: var(--background-image);
  background-color: rgba(60, 60, 60, 1);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.poster {
  background-color: black;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 1) !important;
  color: #ffffff;
}

.center {
  align-items: center;
  text-align: center;
  color: #000000;
}
