.navbar-nav {
  flex-direction: row !important;
}

.homepage {
  background-color: #000000;
}

.home-title {
  color: #ffffff;
  font-size: 5rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 1);
}

.home-subtitle {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 1);
}

.card-poster {
  min-height: 417px !important;
}

.movie-card {
  background-color: #000000 !important;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5) !important;
  color: #ffffff;
  text-decoration: none;
}

.movie-card:hover {
  color: #ffffff;
}

.background {
  background-image: var(--background-image);
  background-color: rgb(85, 85, 85);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.poster {
  background-color: black;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 1) !important;
  color: #ffffff;
}

.center {
  align-items: center;
  text-align: center;
  color: #000000;
}

.movie-info {
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 1);
}

.movie-overview {
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 1);
}

.ratingStars {
  color: #fff000;
}

.card-comment {
  background-color: lightgray;
}

.card-header-comment, .card-footer-comment {
  background-color: #333333 !important;
  color: #ffffff !important;
}

.card-body-comment {
  background-color: #444444;
  color: #ffffff;
}

.card-link {
  background: none!important;
  border: none;
  color: #578bab;
  padding: 0!important;
}

.btn-comment {
  width: 100%;
}

.card-text-lg {
  font-size: 1.5rem;
}

.stars {
  font-size: 60px;
}

.star-text {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 1);
}

.movie-tagline {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 1);
}
